<!-- Add icon library -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<footer class="bg-dark text-center text-white" style="bottom: 0">
  <!-- Grid container -->

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <h6 style="font-size: 1.5em">
      © 2022 Powered by :
      <a
        class="text-white"
        href="https://www.toonversestudios.com/"
        >Toonverse Studios</a
      >
    </h6>
          <!-- <a
        class="text-white"
        href="https://thebuddhainu.com/"

        > <p><u>Powered by The Buddha Inu</u></p></a
      >       -->

    <div class="container p-3 pb-0">
      <!-- Section: Social media -->
      <!-- <section class="mb-3">
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee"
          href="https://www.facebook.com/profile.php?id=100079143445191"
          role="button"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #00acee"
          href="https://twitter.com/TheBuddhaInu"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #b418e4c7"
          href="https://discord.gg/zfhrghnMyV"
          role="button"
          ><i class="fab fa-discord"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #8a3ab9"
          href="https://discord.gg/zfhrghnMyV"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section> -->
    </div>
  </div>
</footer>
