<!-- Navbar -->
<nav class="navbar navbar-expand-md  fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white"  href="https://www.toonversestudios.com">
      <h6 id="yellow">
        <img
          src="https://toonverse.s3.amazonaws.com/Button.png"
          alt="logo"
          width="50"
          style="border-radius: 50%"
        />
      </h6>
    
      <!-- <h6 id="yellow">The BuddhaInu-Finanace</h6> -->
    </a>

 
    <!-- Collapsible wrapper -->

  </div>
  <!-- <button
  style="margin-right: 25px;"
  *ngIf="this.isConnected == false"

  class="favorite styled"
  type="button"
  (click)="tryAndConnect(true)"

>
  Connect 
</button>
<button
style="margin-right: 25px;"
*ngIf="this.isConnected == true"

  class="favorite styled"
  type="button"
  (click)="tryAndConnect(false)"

>
  Disconnect 
</button> -->
</nav>
