<div class="center-div">
  <div class="card main">

    <div class="card-header">


      <img src="../../../assets/sharks/loungingAkula.png" alt="logo" height="150vh" width="150vw"
        style="border-radius: 5%" />
      <br>
      <h3 class="card-text">
        <br>
        <u> Welcome to Sudo Shark Services</u>
      </h3>
      <p> An umbrella trust of multiple LLC's</p>


  
          <p>SudoSharkSolutions : An IT Solutions Firm.</p>
      
          <p>SudoSharkResearchGroup : A Frading Firm.</p>
      
          <p>SudoSharkCreative : A Digital Media Firm</p>
      
          <p>SudoSharkRecruiting : An IT Recruiting Firm</p>

    </div>
    <div class="card-body">



      <h5 class="card-text">
        <u> Legal Disclaimer</u>
      </h5>
      <p>
        The creators and maintainers of Sudo Shark Services token (SIMON) are not liable for any loss when trading this
        cryptocurrency token. The information provided on Sudo Shark Services website does not constitute legal advise,
        investment advice, financial advice, trading advice, or any other sort of advice and you should not treat any of
        the website’s content as such. Please note, there are always risks associated with smart contracts, use them at
        your own risk. Sudo Shark Services is not a registered broker, analyst, or investment advisor, nor does Sudo
        Shark Services team recommend that any cryptocurrency be bought, sold, or held by you. Do conduct your own due
        diligence and consult your financial advisor before making any financial decisions. With your willingness to
        purchase $SIMON, you agree that you are not purchasing a security or investment and you agree to hold the team
        harmless and not liable for any losses or taxes you may incur. Although $SIMON is a community driven token for
        social networking and not a registered digital currency, the team strongly recommends that citizens in areas
        with government bans on Cryptocurrencies do not purchase it, because the team cannot ensure compliance with your
        territory’s regulations. Always make sure that you are in compliance with your local laws and regulations before
        you make any purchase.

      </p>
    </div>
  </div>
</div>